:root {
	--primary: #5795ff;
	--secondary: #29d8ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: Calibri, sans-serif;
}

div,
h1,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #0000dd;
}

/* ----------App---------- */
.header {
  display: flex;
  flex-direction: row;
  height: 6vh;
  background-color: var(--primary);
}

.workspace {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.workspace > .folders-panel,
.workspace > .files-panel {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.workspace > .folders-panel {
  display: flex;
  flex-direction: column;
  width: 16vw;
  border-right: 2px solid lightgrey;
}

.workspace > .files-panel {
  display: flex;
  flex: 1;
	flex-direction: column;
}

.workspace > .files-panel > .file-node {
	max-width: 50%;
}

.workspace .file-node {
  display: flex;
	flex-direction: column;
}

.workspace .file-node .node-name {
  padding: 3px;
  border-radius: 3px;

  user-select: none;
}

.workspace .file-node > .node-name > .node-icon {
  padding: inherit;
  content: '📁';
}
.workspace .file-node.type-file > .node-name > .node-icon {
  padding: inherit;
  content: '📄';
}

.workspace .file-node > .node-name.active {
  background-color: var(--secondary);
  color: black;
  cursor: pointer;
}
.workspace .file-node > .node-name:hover {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}

.workspace .file-node > .node-children {
  overflow-y: hidden;
  transition: height 100ms ease-out;
}

.workspace .file-node > .node-children.state-closed {
  height: 0;
}