:root {
  --primary: #5795ff;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: white;
  color: black;
  font-family: Calibri, sans-serif;
}

div,
h1,
p {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: #0000dd;
}

/* ----------App---------- */
.header {
  display: flex;
  flex-direction: row;
  height: 6vh;
  background-color: var(--primary);
}

.workspace {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.workspace > .folders-panel {
  display: flex;
  flex-direction: column;
  width: 16vw;
  border-right: 1px solid lightgrey;
}

.workspace > .folders-panel,
.workspace > .files-panel {
  display: flex;
  flex-direction: column;
  padding: 4px;
}

.workspace > .files-panel {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.workspace .file-node {
  padding: 3px;
  border-radius: 3px;
}

.workspace .file-node:before {
  padding: inherit;
  content: '📁';
}
.workspace .file-node.type-file:before {
  padding: inherit;
  content: '📄';
}

.workspace .file-node:hover {
  background-color: var(--primary);
  color: white;
  cursor: pointer;
}